$font: 'Bellefair','Roboto',serif
$color: #666666

%flexpre
  display: -webkit-box
  display: -ms-flexbox
  display: flex

body
  margin: 0

.back-ground
  background-image: url(corvette.jpg)
  background-repeat: no-repeat
  background-size: 100%
  height: 694px
.back-ground-1
  background-image: url(mercedes_2.jpg)
  background-repeat: no-repeat
  background-size: 100%
  height: 694px
  margin-top: -43px


.search
  padding: 2px 25px
  #search
    background-color: white
    border: 2px solid grey
    height: 24px
    color: grey
    padding: 5px
    font-style: italic
    text-transform: capitalize
  input:last-child
    background: orange
    color: white
    height: 35px



header
  width: 100%
  margin-top: -16px
  border-bottom: 2px solid silver
  .main-graphics
    @extend %flexpre
    justify-content: space-between
    align-items: center
    margin-top: -15px
.logo
  padding: 0px 25px
  img
    max-height: 120px

nav
  width: 100%
ul
  @extend %flexpre
  justify-content: flex-end
  background-color: rgba(0,0,0,.25)
  li
    padding: 2px 15px
    color: orange
    list-style: none
    text-transform: capitalize
    font-family: $font
    font-size: 18px
section
  width: 25%
  margin-top: 40px
  padding: 15px
  background: rgba(5,5,5,.5)
  h1,h5,p
    font-family: $font
    color: white
    padding: 5px 20px
  h1,h5
    margin-top: 0
    margin-bottom: 0

section-1

  margin-top: 40px
  padding: 15px
  background: rgba(201, 62, 45, 0.5)
  @extend %flexpre
  color: silver
